.case_studies_wrap {
	min-height: 100vh;

	@include mq(tabletp) {
		padding: 0 10px;
	}
}

.case_studies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	.project {
		position: relative;
		margin-bottom: 7.5vw;

		background: #1c1c1c;
		border-radius: 10px;

		@include mq(tabletl) {
			background: none;
			border-radius: 0;
		}

		&.featured {order: -1;}

		@include mq(tabletp) {margin-bottom: 90px;}
		
		@include mq(tabletl) {
			display: flex;
			align-items: flex-start;
		}

		.project_image {
			display: block;
			overflow: hidden;
			margin-top: 0;
			width: 100%;

			border-radius: 10px 10px 0 0;

			@include mq(tabletl) {
				border-radius: 10px;
			}			

			img {width: 100%;}
		}
	}

	.project_info {
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		color: white;
		padding: 15px;

		@include mq(tabletp) {
			padding: 22px;
			flex-wrap: nowrap;
		}

		@include mq(tabletl) {
			border: 1px solid rgba(256,256,256,0.35);
			width: 40%;
			order: -1;
			margin-right: 30px;
			margin-top: 5%;
			display: block;
		}

		.project_info_block {

			margin-top: 0;
			width: 100%;

			margin-top: 15px;

			&:first-child {margin-top: 0;}
			&.title .project_info_title {display: none;}
			&.title .project_info_value {font-size: 20px; font-weight: 500; text-align: center;}

			@include mq(tabletp) {
				min-width: 28%;
				margin-top: 0;
				&.title .project_info_title {display: block;}
				&.title .project_info_value {text-align: left;}
			}

			@include mq(tabletl) {
				margin-top: 30px;
				width: 100%;


				&:first-child {
					margin-top: 0;
				}
			}

			.project_info_title {
				font-size: 10px;
				font-family: $secondary-font;
				text-transform: lowercase;
				letter-spacing: 0.1em;
				opacity: 0.7;

				@include mq(tabletp) {
					font-size: 11px;
				}
			}

			.project_info_value {
				font-size: 14px;
				margin-top: 5px;
				line-height: 1.4em;

				@include mq(tabletp) {
					font-size: 16px;
					margin-top: 6px;
				}
			}
		}

		h3, p {color: white; text-align: left;}

		p {margin-top: 10px;}
	}

	// filter view
	div.project:not(.visible) {opacity: 0;display: none;}


	// grid view
	@include mq(tabletl) {
		&.grid {
			justify-content: left;
			align-items: flex-start;

			div.project:not(.visible) {opacity: 0;display: none;}
		}

		&.grid div.project {
			max-width: 30%;
			margin: 1.5%;
			display: block;
			background: #171717;
			border-radius: 10px;

			.project_image {border-radius: 10px 10px 0 0;}

			.project_info {
				text-align: left;
				margin-top: 0;
				padding: 15px;
				width: 100%;
				border: none;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.project_info_block {
					&:not(.title) {margin-top: 15px;}

					.project_info_title {display: none;}

					&.title .project_info_value {font-size: 18px; font-weight: 500;}
					&.title {order: -2}

					&.description {margin-top: 5px; order: -1}

					&.service {
						font-family: "Inconsolata",monospace,sans-serif;
						color: gray;
					}
				}
			}

			.project_info_title {font-size: 10px;}
			.project_info_value {font-size: 14px;}
		}
	}
}

// splash hover gallery
.hover_gallery {
	.project_info {
		width: 35%;
		display: flex;
		flex-wrap: wrap;
		border: 1px solid rgba(256,256,256,0.35);
		color: white;
		padding: 15px;

		.project_info_block {
			width: 50%;
			margin-top: 0;

			&.description {
				margin-top: 15px;
				width: 100%;
			}

			.project_info_title {
				font-size: 10px;
				font-family: $secondary-font;
				text-transform: lowercase;
				letter-spacing: 0.1em;
				opacity: 0.7;

				@include mq(tabletp) {
					font-size: 11px;
				}
			}

			.project_info_value {
				font-size: 14px;
				margin-top: 5px;
				line-height: 1.4em;

				@include mq(tabletp) {
					font-size: 16px;
					margin-top: 6px;
				}
			}
		}
	}
}

// portfolio project page
.project_page .project_info {
	color: black;
	border: 1px solid black;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	padding: 15px;

	@include mq(tabletp) {
		padding: 22px;
		flex-wrap: nowrap;
	}

	@include mq(tabletl) {
		width: auto;
		order: -1;
		margin-right: 30px;
		margin-top: 5%;
		display: flex;
	}

	.project_info_block {
		width: 100%;
		margin-top: 20px;
		&:first-child {margin-top:0;}

		@include mq(tabletp) {
			margin-top: 0;
			min-width: 28%;
		}
		
		@include mq(tabletl) {
			&.description {margin-top: 30px;}
			width: 100%;
			margin-top: 0;

			&:first-child {
				margin-top: 0;
			}
		}

		.project_info_title {
			font-size: 10px;
			font-family: $secondary-font;
			text-transform: lowercase;
			letter-spacing: 0.1em;
			opacity: 0.7;

			@include mq(tabletp) {
				font-size: 11px;
			}
		}

		.project_info_value {
			font-size: 14px;
			margin-top: 5px;
			line-height: 1.4em;

			@include mq(tabletp) {
				font-size: 16px;
				margin-top: 6px;
			}
		}
	}
}

