#index {
	overflow: hidden;
	background: rgb(255,255,255);
	background: linear-gradient(142deg, rgba(255,255,255,1) 9%, #e4e4e4 100%);

	padding-bottom: 0;
}
.hero {
	background: #3241FB;
	height: 100vh;
}

.hero .hero_wrap {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 10vh;
	height: 80vh;

	padding-left: 30px;
	padding-right: 30px;

	@include mq(phonel) {
		align-items: end;
		padding-bottom: 30px;
		padding-top: 20vh;
		height: 70vh;
	}

	@include mq(tabletl) {
		padding-left: 5%;
		padding-right: 5%;

		align-items: flex-end;
	}

	@include mq(laptop) {
		padding-left: 10%;
		padding-right: 10%;
		padding-top: 0;
		padding-bottom: 0;
	}

	.animation {
		width: 100%;
		max-width: 50vh;

		@include mq(phonel) {
			width: 50%;
			order: 2;
			height: 100%;
		}

		@include mq(tabletl) {
			width: 50%;
			max-width: none;
			order: 2;
		}

		video {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.text {
		width: 100%;
		text-align: center;

		@include mq(phonep) {
			margin-top: -20px;
		}

		@include mq(phonel) {
			width: 50%;
			text-align: left;
		}

		@include mq(tabletl) {
			width: 50%;
			text-align: left;
		}

		h1 {
		    width: 100%;
		    max-width: 700px;
		    position: relative;
		    margin: 0 auto;

			font-size: 8vh;
			font-weight: 700;
			line-height: 0.8;
			color: white;

			text-align: center;
			text-transform: uppercase;
			transition: all 0.5s ease;

			@include mq(phonel) {
				text-align: left;
				font-size: 15vh;
			}

			@include mq(tabletp) {
				font-size: 10vh;
			}

			@include mq(tabletl) {
				text-align: left;
				margin: 0;
				font-size: 80px;
				max-width: 500px;
			}

			@include mq(laptop) {
				font-size: 100px;
			}

			@include mq(desktop) {
				font-size: 120px;
			}
		}

		h2 {
			font-size: 25px;
			font-family: $secondary-font;
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin-top: 10px;
			color: $text-dark-color;
			text-align: center;

			@include mq(phonel) {
				text-align: left;
			}

			@include mq(tabletl) {
				text-align: left;
			}
		}

		a.button {
			border-radius: 35px;
			background: transparent;
			color: white;
			border: 2px solid white;

			&:hover {
				color: $accent-color;
				background: white;
			}

			margin-bottom: 45px;
			margin-top: 25px;

			@include mq(phonel) {
				margin-bottom: 0;
			}

			@include mq(tabletp) {
				margin-top: 35px;
			}
		}
	}

	svg#arrow {
		width: 20px;
	    position: fixed;
	    margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;
	    bottom: 10px;

	    -webkit-transition: opacity 0.3s ease;
	    transition: opacity 0.3s ease;
	    -webkit-animation: bounce 4s infinite 1s;
	    animation: bounce 4s infinite 1s;

	    display: none;

	    @include mq(tabletl) {
	    	display: block;
	    }

	    .arrow {
	    	stroke: $accent-color;
	    	stroke-width:100;
	    	stroke-miterlimit:10;
	    	fill: none;
	    }

	    html:not([data-scroll='0']) & {opacity: 0;}
	}
}

.featured_work {
	padding-bottom: 50px;
	background: black;

	@include mq(tabletp) {
		padding-bottom: 100px;
	}

	.wrap {
		position: relative;
		top: -30px;

		@include mq(tabletl) {
			top: -6vh;
		}
	}

	a#see-more-projects {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}

.featured_work .case_studies {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	
	.project {
		position: relative;
		margin-bottom: 7.5vw;

		background: #1c1c1c;
		border-radius: 10px;
		overflow: hidden;

		&.featured {order: -1;}

		@include mq(tabletp) {
			margin-bottom: 90px;
			width: calc(50% - 20px);
			margin-bottom: 40px;
			height: 400px;

			&:first-child {
				width: 100%;
				height: 500px;
			}
		}
		
		@include mq(tabletl) {
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
			margin-bottom: 60px;

			&:first-child {
				width: 100%;
			}

			&:nth-child(2) {
				width: calc(60% - 30px);
			}

			&:nth-child(3) {
				width: calc(40% - 30px);
			}

			&:nth-child(4) {
				width: calc(40% - 30px);
			}

			&:nth-child(5) {
				width: calc(60% - 30px);
			}
		}

		.project_image {
			display: block;
			overflow: hidden;
			margin-top: 0;
			height: 100%;

			border-radius: 10px 10px 0 0;

			@include mq(tabletl) {
				border-radius: 10px;
			}			

			img {
				object-fit: cover;
				width:100%;
				height:100%;
			}
		}
	}

	.project_info {
		text-align: left;
		display: flex;
		flex-wrap: wrap;
		color: white;
		padding: 15px;

		position: absolute;
		bottom: 0;
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.71) 15%, transparent 100%);
		width: 100%;
		text-align: left;
		padding-top: 50px;

		@include mq(tabletp) {
			padding: 22px;
		}

		.project_info_block {

			margin-top: 0;
			width: 100%;

			margin-top: 0;

			&.description {
				display: none;
			}

			&:first-child {margin-top: 0;}
			&.title .project_info_title {display: none;}
			&.title .project_info_value {
				font-size: 20px; 
				font-weight: 500; 
				text-align: left;
			}

			@include mq(tabletp) {
				min-width: 28%;
				margin-top: 0;
			}

			/*@include mq(tabletl) {
				margin-top: 30px;
				width: 100%;


				&:first-child {
					margin-top: 0;
				}
			}*/

			.project_info_title {
				font-size: 10px;
				font-family: $secondary-font;
				text-transform: lowercase;
				letter-spacing: 0.1em;
				opacity: 0.7;
				display: none;

				@include mq(tabletp) {
					font-size: 11px;
				}
			}

			.project_info_value {
				font-size: 14px;
				margin-top: 5px;
				line-height: 1.4em;

				@include mq(tabletp) {
					font-size: 16px;
					margin-top: 6px;
				}
			}
		}

		@include transition(all 0.2s ease);

		@include mq(laptop) {
			bottom: -30px;

			.service {
				opacity: 0;
				@include transition(all 0.2s ease);
			}
		}

		h3, p {color: white; text-align: left;}

		p {margin-top: 10px;}
	}

	.project:hover .project_info {
		bottom: 0;

		.service {
			opacity: 1;
		}
	}

	// filter view
	div.project:not(.visible) {opacity: 0;display: none;}


	// grid view
	@include mq(tabletl) {
		&.grid {
			justify-content: left;
			align-items: flex-start;

			div.project:not(.visible) {opacity: 0;display: none;}
		}

		&.grid div.project {
			max-width: 30%;
			margin: 1.5%;
			display: block;
			background: #171717;
			border-radius: 10px;

			.project_image {border-radius: 10px 10px 0 0;}

			.project_info {
				text-align: left;
				margin-top: 0;
				padding: 15px;
				width: 100%;
				border: none;
				display: flex;
				justify-content: space-between;
				flex-wrap: wrap;

				.project_info_block {
					&:not(.title) {margin-top: 15px;}

					.project_info_title {display: none;}

					&.title .project_info_value {font-size: 18px; font-weight: 500;}
					&.title {order: -2}

					&.description {margin-top: 5px; order: -1}

					&.service {
						font-family: "Inconsolata",monospace,sans-serif;
						color: gray;
					}
				}
			}

			.project_info_title {font-size: 10px;}
			.project_info_value {font-size: 14px;}
		}
	}
}



#index .skillset {
	@include mq(tabletl) {
		padding: 100px 0
	}
}

.columns {
	margin: 0 auto;

	@include mq(tabletp) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	@include mq(tabletl) {
		flex-wrap: nowrap;
	}

	.category {
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;

		@include mq(tabletp) {
			margin-top: 40px;
			margin-bottom: 40px;
			text-align: center;
			width: 30%;
		}

		h3 {
			text-transform: uppercase;
			letter-spacing: 6px;
			font-weight: 600;

			font-size: 20px;
		}

		ul {
			margin-top: 10px;
			list-style: none;

			font-family: $secondary-font;
		}
	}
}

.client_showcase {
	
	padding: 100px 0;
	background: $accent-color;
	margin: 0 auto;

	.clients {

		position: relative;
	  	display: flex;
	  	flex-wrap: wrap;
	  	justify-content: space-around;
	  	max-width: 1100px;

	  	margin: 0 auto;
	  	margin-top: 20px;
	  	height: auto;

	  	@include mq(tabletl) {
	  		margin-top: 30px;
	  		justify-content: center;
	  	}

		.individual_logo {
			max-height: 83px;
			max-width: 155px;
			padding: 10px 15px;

			@include mq(tabletl) {
				max-height: 110px;
				padding: 20px 30px;
				max-width: 215px;
				margin-bottom: 0;
				&.wide {max-width: 300px;}
			}
		}
	}
}

