
// Clients //

.say_hi {
	padding-top: 0;
	padding-bottom: 0;

	h2 {
		@include transition(all .2s ease);
		margin-bottom: 0.5em;

	}

	&>div {
		transform-style: preserve-3d;
		transform: perspective(1000px);

		padding-top: 10vh;
		padding-bottom: 10vh;

		@include mq(laptop) {
			padding-top: 20vh;
			padding-bottom: 20vh;

			a {
				margin-top: 60px;
				font-size: 30px;
			}
		}
	}

	a .top{
		transform: translateZ(20px);
	}

	&:hover {
		h2, h3 {
			text-shadow: 0 5px 20px rgba(0,0,0,0.1);
		}

		a .bottom {
			@include box-shadow(0, 5px, 20px, rgba(0,0,0,0.15));
		}

	}
}

.featured-posts {
	margin-top: 50px;

	&>p {
		max-width: 700px;

		margin-top: 30px;
		margin-left: auto;
		margin-right: auto;
	}

	.blog-posts {
		margin-bottom: 30px;
	
		margin-top: 60px;
		max-width: none;

		@include mq(tabletp) {
			display: flex;
			justify-content: space-between;

			.post {
				margin-bottom: 0;
				width: 32%;
			}
		}
	}
}

.featured-work {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	a {
		width: 45%;
	}

}



.featured-works {
	h2 {
		margin: 1em 0;
	}
}



