
body[data-title="work"] {
	background: black;

	.footer {
		background: #151515;

		p {color: white;}
	}
}

.page_content#portfolio {
	.intro {
		padding: 0;
		padding-top: 30px;

		width: 100%;

		h1 {
			line-height: 1em;
			text-transform: uppercase;
			text-align: left;
			padding: 60px 0;

			font-size: 70px;
			color: black;
			letter-spacing: 4px;

			text-shadow:
				-1px -1px 0 white,
				1px -1px 0 white,
				-1px 1px 0 white,
				1px 1px 0 white;

			span {
				display: block;
			}

			span.work {
				text-shadow: none;
				color: white;
			}

			@include mq(tabletp) {
				font-size: 100px;
			}

			@include mq(laptop) {
				padding: 10vh 0;
				font-size: 120px;
			}
		}
	}

	div.portfolio {
		z-index: 1100;
		position: relative;
	}

	div.filter_wrap {
		position: sticky;
		top: -1px;
		background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
		z-index: 2;
		padding-bottom: 20px;

		z-index: 2;

		&>div {
			background: black;
		}

		div.filter {
			border-top: 1px solid white;
			border-bottom: 1px solid white;
			padding: 18px 10px;
			transition: all 0.2s ease;
			background: black;

			height: 52px;
			margin: 20px auto;
			position: relative;

			user-select: none;

			@include mq(tabletl) {
				height: auto;
				text-align: right;
			}

			.view_toggle {
				display: none;

				@include mq(tabletl) {
					display: block;
				}

				position: absolute;
				left: 10px;
			}

			button.filter_button {
				background: black;
				border: none;
				color: white;
				text-align: center;
				width: 100%;
				display: block;
				font-family: kanit;
				font-size: 18px;

				position: relative;
				top: -7px;
				z-index: 3000;

				@include mq(tabletl) {
					display: none;
				}
			}

			label {
				color: #797979;
				display: block;
				text-align: center;
				padding: 10px;
				margin-top: 0;
				font-size: 16px;
				@include transition(all 0.2s ease);

				@include mq(tabletp) {
					display: inline-block;
				}

				.st0, .doticon {
					fill:none;
					stroke:#797979;
					stroke-width:70;
					stroke-linecap:round;
					stroke-miterlimit:10;
					@include transition(all 0.2s ease);
				}

				svg {
					width: 11px;
					margin-right: 2px;
				}
			}

			input[type=radio]:checked + label {
				color: white;
				.st0, .doticon {stroke: white;}
			}

			input[type=radio] {display: none;}

			.filter_categories {
				opacity: 0;
				text-align: center;

				@include transition(all 0.2s ease);

				@include mq(tabletl) {
					opacity: 1;
					display: inline-block;
				}

				@include mq(tabletl) {
					display: inline-block;
				}
			}

			&.visible {
				height: 196px;

				@include mq(tabletp) {
					height: 94px;
				}

				.filter_categories {
					opacity: 1;
				}
			}
		}
	}
}

.page_content.project_page {
	padding-bottom: 0;

	.intro .previous_next {
		display: none;
	}

	@include mq(desktop) {
		display: flex;
		padding: 140px 0;
		justify-content: end;
		flex-wrap: wrap;

		& > .previous_next { display: none; }

		.intro {
			position: fixed;
			width: 24%;	
			left: 6%;

			.project_info {
				margin-right: 0;
				max-width: none;
			}

			.previous_next { 
				display:block;
				background: #fbfbfb;

				.narrow_wrap {
					width: 100%;
					justify-content: center;
					
					overflow: hidden;

					a {
						padding: 20px 0;
						font-size: 16px;
						width: 50%;
						display: inline-block;

						&:only-child {
							width: 100%;
						}

						&:hover {
							color: white;
							background: black;
						}
					}
				}
			}
		}

		.single {
			width: 60%;
			margin-right: 8%;

			.gallery, .image-wrap { width: 100%; }
		}
	}
}