
body[data-title="work"] {
	background: black;
}

.page_content.project_page {
	padding-bottom: 0;

	.intro .previous_next {
		display: none;
	}

	@include mq(desktop) {
		display: flex;
		padding: 140px 0;
		justify-content: end;
		flex-wrap: wrap;

		& > .previous_next { display: none; }

		.intro {
			position: fixed;
			width: 24%;	
			left: 6%;

			.project_info {
				margin-right: 0;
				max-width: none;
			}

			.previous_next { 
				display:block;
				background: #fbfbfb;

				.narrow_wrap {
					width: 100%;
					justify-content: center;
					
					overflow: hidden;

					a {
						padding: 20px 0;
						font-size: 16px;
						width: 50%;
						display: inline-block;

						&:only-child {
							width: 100%;
						}

						&:hover {
							color: white;
							background: black;
						}
					}
				}
			}
		}

		.single {
			width: 60%;
			margin-right: 8%;

			.gallery, .image-wrap { width: 100%; }
		}
	}
}

#portfolio {
	.intro {
		padding: 0;
		padding-top: 30px;
		margin-bottom: 60px;

		border-bottom: 1px solid white;
		width: 100%;

		@include mq(tabletl) {
			margin-bottom: 110px;
		}
	}

	h1 {
		line-height: 1em;
		text-transform: uppercase;
		text-align: left;
		padding: 8vh 0;

		font-size: 70px;
		color: black;
		letter-spacing: 4px;

		text-shadow:
			-1px -1px 0 white,
			1px -1px 0 white,
			-1px 1px 0 white,
			1px 1px 0 white;

		span {
			display: block;
		}

		span.work {
			text-shadow: none;
			color: white;
		}

		@include mq(tabletp) {
			padding: 10vh 0;
			font-size: 100px;
		}

		@include mq(laptop) {
			padding: 10vh 0;
			font-size: 120px;
		}
	}
}

.portfolio {
	padding-top: 0;

	@include mq(tabletp) {
		@include narrow_wrap;
	}

	.portfolio-item {
		display: block;
		width: 100%;
		position: relative;

		margin-bottom: 40px;

		@include mq (tabletp) {
			margin-bottom: 60px;
		}

		@include mq (tabletl) {
			margin-bottom: 60px;
			display: flex;
			justify-content: space-between;
			align-items: flex-end;

			&:nth-child(even) .featured-image { order: 2; }
		}

		&:after {
		    content: '';
		    width: 75%;
		    height: calc(100% + 15px);
		    position: absolute;
		    top: 0;
		    left: 0;
		    right: 0;
		    margin: auto;

		    background: white;
		    opacity: 0.3;
		    z-index: -1;

		    @include mq(tabletp) {
		    	width: 90%;
		    	height: calc(100% + 20px);
		    }

		    @include mq (tabletl) {
		    	bottom: 0;
		    	width: 85%;
		    	height: 90%;
		    	opacity: 0;
		    }
		}

		@include mq(tabletl) {
			grid-column: 1 / 4;
		}

		&.animate {
			&:after {
				transition: transform 0.5s $ease-reveal 1s;
				transform-origin: top;
				transform: scaleY(0);
			}

			.featured-image {
				transition: background 0s ease 0.5s, background-size 0s ease 0.5s;
				
				img, &:after {
					opacity: 0;
					transition: all 0s ease 0.5s;
				}

				&:before {
					content: '';
				    width: 102%;
				    height: 101%;
				    position: absolute;
				    top: 0;
				    bottom: 0;
				    right: 0;
				    left: 0;
				 	margin: auto;
				    transform-origin: left;
				    background: white;
				    transform: scalex(0);
				    z-index: 5;
				    opacity: 1;
				}
			}

			&:not(.visible) .featured-image{
				 background: transparent;
				 background-size: 0;
			}

			&.visible {
				transition: background 0.5s ease 0.5s;

				&:after {
					transform: scaleY(1);
				}

				.featured-image:before {
					animation: img-overlay-in 0.5s $ease-reveal, img-overlay-out 0.5s $ease-reveal 0.5s, 
				}

				.featured-image {
					background-size: 100%;

					&:after, img {
						opacity: 1;
					}
				}

			}

			@keyframes img-overlay-in {
				0% {
					transform: scaleX(0);
					transform-origin: left;
				}

				100% {
					transform: scaleX(1);
					transform-origin: left;
				}
			}

			@keyframes img-overlay-out {
				0% {
					transform: scaleX(1);
					transform-origin: right;
				}

				100% {
					transform: scaleX(0);
					transform-origin: right;
				}
			}
		}
	}

	a:hover {
		color: $text-dark-color;
	}

	.featured-image {
		width: 100%;
		position: relative;
		overflow: hidden;
		display: block;

		@include mq (tabletl) {
			width: 67%;
		}

		img {
			@include transition(all .15s ease);
			margin: 0 auto;
			position: relative;
			z-index: 2;

			width: 100%;
		}

		&.bb { background: linear-gradient(23deg, #ced7fc 0%, #f4f1ff 100%); }
		&.bacaro { background: #e2d1ae; }
		&.cover_art { background: #c5e6f7; }
		&.betabloc { background: linear-gradient(72deg, #eaeaea 0%, white 100%); }
		&.mcgill { background: linear-gradient(0deg, #e61221 0%, #f32e49 100%); }
		&.carlos { background: #fff2b6; }
	}

	.info {
		text-align: left;
		@include narrow_wrap;

		@include mq(tabletp) {
			padding: 0;
			padding-top: 1em;
			width: 100%;
		}

		@include mq (tabletl) {
			width: 30%;
			margin: 0;
			margin-bottom: 5%;
		}


		h2, p {
			padding: 0;
			max-width: none;
		}

		.type {
			margin-top: 8px;
			color: black;
			margin-left: 0;

			font-size: $blog-item-subtitle-small;
			font-weight: $blog-item-subtitle-weight;
			letter-spacing: $blog-item-subtitle-spacing;

			text-transform: uppercase;
			color: $text-light-color;

			@include mq(tabletp) {
				font-size: $blog-item-subtitle-medium;
			}

			@include mq(tabletl) {
				font-size: $blog-item-subtitle-small;
				position: static;
			}
		}

		.title {
			margin-top: 5px;
			margin-left: 0;
			
			letter-spacing: $blog-item-title-spacing;

			font-size: $blog-item-title-small;
			font-weight: $blog-item-title-weight;

			@include mq(tabletp) {
				font-size: $blog-item-title-medium;
			}

			@include mq(tabletl) {
				font-size: $blog-item-title-large;
			}
		}

		.description {
			margin-top: 5px;
		}

		.button {
			@include mq (tabletl) {
				margin-top: 2em;
			}
		}
	}
}








