// - - - - - - - - - - - - - - - - - -

// Portfolio

// - - - - - - - - - - - - - - - - - -

.portfolio {
	padding-top: 0;
	float: none;

	#portfolio2 {
		display: none;
	}

	@include mq(tabletp) {
		.content-wrap {
			display: flex;

			@include narrow_wrap;

			.column {
				width: 50%;
				position: relative;

				.flexy_order {
					flex-wrap: wrap;
	    			display: flex;
	    		}

	    		.portfolio-item {
	    			order:1000;
	    		}

				&:nth-child(odd) {
					padding-right: 30px;
				}

				&:nth-child(even) {
					padding-left: 30px;
				}
			}

			#portfolio2 {
				top: 100px;
				display: block;
			}

			.column:nth-child(even) .portfolio-item:nth-child(odd) {
				display: none;
			}

			.column:nth-child(odd) .portfolio-item:nth-child(even) {
				display: none;
			}
		}
	}
}

.portfolio-item {
	margin-bottom: 2em;
}

.portfolio-item__link {
	position: relative;
	display: block;

	padding-top: $grid-spacing/2;
	padding-bottom: $grid-spacing/2;
}

.portfolio-item__image {
	width: 100%;
	position: relative;
	overflow: hidden;

	img {
		@include transition(all .15s ease);
		margin: 0 auto;

		&.front {
		    position: absolute;
		    bottom: -15px;
		    width: 80%;
		    left: 0;
		    right: 0;

		    @include transition(all .2s ease);

		    &.mcgill {
		    	width: 110%;
		    	padding-left: 12%;
		    	max-width: none;
		    }

		    &.logofolio {
	    		bottom: 35%;
	    	}
		}
	}

	&:hover img.front {
		width: 83%;

		&.mcgill {
	    	width: 113%;
	    	padding-left: 10%;
	    }
	}
}

.portfolio-item__info {

	text-align: center;

	@include mq(laptop) {

		max-width: none;
		text-align: left;
		@include transition(all 0.15s ease-in-out);
	}

	h2, p {
		padding: 0;
		max-width: none;
	}

	.portfolio-item__title {
		margin-top: 18px;
		margin-left: 0;

		font-weight: $grid-item-title-weight;
		letter-spacing: $grid-item-title-spacing;

		@include mq(tabletp) {
			font-size: $grid-item-title-medium;
		}

		@include mq(laptop) {
			font-size: $grid-item-title-large;
		}
	}

	.portfolio-item__subtitle {
		margin-top: 8px;
		color: black;
		margin-left: 0;

		font-size: $grid-item-subtitle-small;
		font-weight: $grid-item-subtitle-weight;
		letter-spacing: $grid-item-subtitle-spacing;

		text-transform: uppercase;
		color: $accent-color;

		@include mq(tabletp) {
			font-size: $grid-item-subtitle-medium;
		}

		@include mq(laptop) {
			font-size: $grid-item-subtitle-large;
		}
	}
}








