.splash {
	height: 100vh;
	padding-top: 15vh;
	position:relative;
	overflow: hidden;

	transform: translateZ(0);

	@include mq (phonel) {
		padding-top: 15vh;
	}

	div.graphic_wrap {
		@include mq(landscape) {
			position: absolute;
			height: 100%;
			width: 65%;
			max-width: 100vh;
			top: 0;
			right: 0;

			img.graphic.laptop {
				width: 200%;
			}

			-webkit-transform: translateZ(0);
			-moz-transform: translateZ(0);
			-ms-transform: translateZ(0);
			-o-transform: translateZ(0);
			transform: translateZ(0);

			visibility: hidden;
			&.loaded {
				visibility: visible;
				@include animation ('invisible 0.8s, splash-slide-left 1.2s ease 0.8s;');
			}
		}

		img.graphic {
			position: absolute;
			display: block;
			bottom: -1px;
			right: 0;
			width: 100%;
			max-width: none;
		}

		@include keyframes (splash-slide-left) {
			0% {opacity: 0; right: -200px;}
			0% {opacity: 0; right: -200px;}
			100% {opacity: 1; right: 0;}
		}

		img.book {
			transform: translatey(0px);
			@include animation('float 6s ease infinite 2s;');

			@include mq(landscape) {
				@include animation ('invisible 1.2s, splash-slide-left 0.8s ease 1.2s, float 6s ease infinite 2s;');
			}
		}

		img.border {
			z-index: -3;
		}

		img.laptop {
			z-index: -1
		}

		div.background-gradient {
			position: absolute;
			height: 100%;
			width: 100%;
			bottom: 0;
			z-index: -2;

			background: rgb(94,71,204);
			background: linear-gradient(23deg, rgba(94,71,204,1) 0%, rgba(38,219,255,1) 100%);
			background-size: 300% 200%;
			background-position: 0% 50%;
			background-attachment: fixed, fixed;
			overflow: hidden;

			@include animation('invisible 0.7s, splash-gradient-slide 0.8s ease 0.7s, gradient_wash 6s ease infinite 1.5s;');

			@include mq (landscape) {
				right: -1px;
				width: 200%;

				img {
					width: 50%;
				}

				@include animation('invisible 2s, splash-gradient-slide 1s ease 2s, gradient_wash 6s ease infinite 3s;');
			}
		}
	}

	@include keyframes (float) {
		0% { transform: translatey(0px); }
		50% { transform: translatey(-20px); }
		100% { transform: translatey(0px); }
	}

	@include keyframes (splash-gradient-slide) {
		0% { height:0; }
		100% { height: 100%; }
	}

	// TYPOGRAPHY //

	div.title {

		font-size: 12px;

		z-index: 2;

		@include mq (portrait) {
			font-size: 15px;

			@include mq (tabletp) {
				font-size: 20px;
			}

			@include mq (tabletl) {
				font-size: 25px;
			}
		}

		@include mq (landscape) {
			@include mq (tabletl) {
				font-size: 17px;
			}
		}

		@include mq (laptop) {
			font-size: 22px;
		}

		@include mq (desktop) {
			font-size: 30px;
		}

		span {
			display: block;
		}
		
		h1, h2 {
			color: white;
			text-align: center;
		}

		h1 {
			font-size: 4em;
			text-transform: uppercase;
			line-height: 0.9em;
		}

		h2 {
			font-size: 1em;
			font-family: $body-font;
			font-weight: 200;
			margin-top: 1em;
		}

		

		@include mq (landscape) {
			position: absolute;
			left: 5%;
			bottom: 15%;

			h1, h2 {
				color: black;
				text-align: left;
			}

			h2 {
				@include blue;
				height: 1.5em;
			}

			@include mq (laptop) {
				bottom: 20%;
			}
		}
	}

	#arrow {
		width: 20px;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 15px;
		transition: opacity 0.3s ease;

		@include animation('bounce 4s infinite 1s;');

		@include mq(tabletp) {
			width: 30px;
		}
	}

	@include keyframes (bounce) {
	  from, 5%, 13.25%, 20%, to {
	    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	    -webkit-transform: translate3d(0, 0, 0);
	    transform: translate3d(0, 0, 0);
	  }

	  10%,
	  10.75% {
	    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    -webkit-transform: translate3d(0, -15px, 0);
	    transform: translate3d(0, -15px, 0);
	  }

	  17.5% {
	    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
	    -webkit-transform: translate3d(0, -7.5px, 0);
	    transform: translate3d(0, -7.5px, 0);
	  }

	  22.5% {
	    -webkit-transform: translate3d(0, -2px, 0);
	    transform: translate3d(0, -2px, 0);
	  }
	}
}

html:not([data-scroll='0']) #arrow {
	opacity: 0;
}

/*.splash{
	height: 100vh;
	transform: translate3d(0, 0, 0);

	#preload_splash {
		height: 0;
		width: 0;

		background-image:
		url("../images/showcase/fabuleux/front.webp"),
		url("../images/showcase/fabuleux/back.webp"),

		url("../images/showcase/bacaro/front.webp"),
		url("../images/showcase/bacaro/back.webp"),

		url("../images/showcase/mcgill/front.webp"),
		url("../images/showcase/mcgill/back.webp"),

		url("../images/showcase/betabloc/front.webp"),
		url("../images/showcase/betabloc/back.webp");

			&.noWebp {
				background-image:
				url("../images/showcase/fabuleux/front.png"),
				url("../images/showcase/fabuleux/back.jpg"),

				url("../images/showcase/bacaro/front.png"),
				url("../images/showcase/bacaro/back.jpg"),

				url("../images/showcase/mcgill/front.png"),
				url("../images/showcase/mcgill/back.jpg"),

				url("../images/showcase/betabloc/front.png"),
				url("../images/showcase/betabloc/back.jpg");
			}
	}

	// Grid //

	display: grid;
	grid-template-columns: 100vw;
  	grid-template-rows: auto 20vh 30vh;

	@include mq(laptop) {
		grid-template-columns: auto 60vmin;
  		grid-template-rows: auto 40vmin;	
	}

	@include mq(desktop) {
		grid-template-columns: auto 80vmin;
  		grid-template-rows: auto 80vmin;	
	}

	.wrap {
		z-index: -2;

		grid-column-start: 1;
		grid-column-end: 3;

		padding-top: 5em;

		@include mq(tabletp) {
			padding-top: 4em;

			grid-column-start: 1;
			grid-column-end: 3;
			grid-row-start: 1;
			grid-row-end: 3;
		}

		@include mq(tabletl) {
			justify-self: start;
		}

		@include mq(desktop) {
			padding-top: 0;
			align-self: center;
			margin-bottom: 4em;
		}
	}

	// TYPOGRAPHY //

	h1 {
		font-size: 4em;

		text-transform: uppercase;
		line-height: 0.9em;

		text-align: center;

		max-width: 350px;
		margin: 0 auto;

		@include mq(tabletp) {
			max-width: 450px;
		}

		@include mq(tabletl) {
			max-width: 500px;
		}

		@include mq(laptop) {
			text-align: left;
			margin: 0;
		}
	}

	h2 {
		color: $accent-color;
		font-size: 17px;
		text-align: center;
		font-family: $body-font;
		font-weight: 200;
		margin-top: 15px;

		height: 1.5em;

		@include mq(tabletp) {
			font-size: 20px;
		}

		@include mq(laptop) {
			margin-top: 30px;
			font-size: 30px;
			text-align: left;
		}
	}

	@include mq(tabletp) {
		font-size: 1.3em;
	}

	@include mq(tabletl) {
		font-size: 1.8em;
		p {font-size: 1.4em;}
	}

	@include mq(laptop) {
		font-size: 1.8em;
	}

	@include mq(desktop) {
		font-size: 2em;
	}
}
	
// Showcase //

.splash {

	&.slide1 {
		.showcase_front { background-image: url("../images/showcase/fabuleux/front.webp"); }
		.showcase_back { background-image: url("../images/showcase/fabuleux/back.webp"); }
	}

	&.slide2 {
		.showcase_front { background-image: url("../images/showcase/mcgill/front.webp"); }
		.showcase_back { background-image: url("../images/showcase/mcgill/back.webp"); }
	}

	&.slide3 {
		.showcase_front { background-image: url("../images/showcase/bacaro/front.webp"); }
		.showcase_back { background-image: url("../images/showcase/bacaro/back.webp"); }
	}

	&.slide4 {
		.showcase_front { background-image: url("../images/showcase/betabloc/front.webp"); }
		.showcase_back { background-image: url("../images/showcase/betabloc/back.webp"); }
	}

	&.noWebp {
		&.slide1 {
			.showcase_front { background-image: url("../images/showcase/fabuleux/front.png"); }
			.showcase_back { background-image: url("../images/showcase/fabuleux/back.jpg"); }
		}

		&.slide2 {
			.showcase_front { background-image: url("../images/showcase/mcgill/front.png"); }
			.showcase_back { background-image: url("../images/showcase/mcgill/back.jpg"); }
		}

		&.slide3 {
			.showcase_front { background-image: url("../images/showcase/bacaro/front.png"); }
			.showcase_back { background-image: url("../images/showcase/bacaro/back.jpg"); }
		}

		&.slide4 {
			.showcase_front { background-image: url("../images/showcase/betabloc/front.png"); }
			.showcase_back { background-image: url("../images/showcase/betabloc/back.jpg"); }
		}
	} 
}

.showcase {
	color: transparent;
	&:hover {color: transparent;}
	overflow: hidden;

	span{
		position: absolute;
		left: 1000px;
	}
}

.showcase_back {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	
	width: 100%;
	height: 100%;
	align-self: end; justify-self: end;

	@include animation('invisible 0.5s, open_bubble 0.5s ease 0.5s');

	@include mq(laptop) {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 4;

		border-top-left-radius: 100%;

		
	}

	background-size: cover;
	background-position: bottom;

	transform: translate3d(0, 0, 0);
	@include transition(all 0.4s ease);
}

.showcase_front {
	grid-column-start: 1;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;

	position: relative;

	@include animation('invisible 1.3s, slide_up 0.3s ease 1.3s');

	@include mq(laptop) {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 4;

		// &:hover {
		// 	opacity: 0;
		// }
	}

	background-size: contain;
	background-position: bottom;
	background-repeat: no-repeat;
	
	transform: translate3d(0, 0, 0);
	@include transition(all 0.3s ease 0.1s);
}

.splash .showcase-switch {

	display: none;

	@include mq(laptop) {
		display: flex;
	}

	position: absolute;
	bottom: 5vh;
	right: 0;	

	height: 40px;
	width: 120px;

	justify-content: flex-end;

	background: black;

	&:after {
		position: absolute;
		display: block;
		content: " ";
		top: 1px;
		right: -1px;

		width: 100%;
		height: calc(100% - 2px);

		background:white;

		-webkit-clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0.5% 100%);
		clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0.5% 100%);
	}

	-webkit-clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);
	clip-path: polygon(10% 0%, 100% 0, 100% 100%, 0% 100%);


	.arrow {
		z-index: 2;
		width: 40%;
		padding: 15% 0;
		height: 70%;
		background: url("../images/showcase/arrow.svg") center no-repeat;
		background-size: 60%;
		align-self: center;
		@include transition(all 0.2s ease);

		&.next {
			@include rotate(180);
			margin-right: 5%;
		}

		@include mq(tabletl) {
			&:hover {
				background-position: 20% 50%;
			}
		}
	}
}

// Animations //

@include keyframes(slide_up) {
	0% { opacity: 0; top: 20px;}
	100% { opacity: 1; top: 0; }
}

@include keyframes(open_bubble) {
	0% { height:0%; align-self: end; opacity: 0;}
	70% { opacity: 0;}
	100% { height: 100%; align-self: end; opacity: 1;}
}

@include mq(laptop) {
	@include keyframes(open_bubble) {
		0% { height:0%; width: 0%; align-self: end; justify-self: end; opacity: 0;}
		50% { height:0%; width: 0%; opacity: 0;}
		80% { opacity: 0 }
		100% { height: 100%; width: 100%; align-self: end; justify-self: end; opacity: 1;}
	}
}

*/





