#index {
	overflow: hidden;
}

.splash2 {
	display: grid;
	grid-template-rows: 20px 5fr 1fr;
	grid-template-columns: 1fr;
	z-index: 2;
	height: 95vh;

	@include mq(phonel) {
		grid-template-columns: 2fr 3fr;
	}

	@include mq(tabletl) {
		grid-template-rows: 20px 1fr 10%;
		grid-template-columns: 2fr 3fr;
		height: 100vh;
	}

	.splash_graphic_wrap {
		place-self: center stretch;
		align-self: center;
		position: relative;
		height: 100%;
		width: 100%;
		grid-row-start: 2;

		@include mq(phonel) {
			grid-row-end: 4;
			grid-column-start: 2;
		}

		@include mq(tabletl) {
			grid-row-start: 1;
			grid-row-end: 4;
			grid-column-start: 2;
		}
		
		.graphic {
			transform-style: preserve-3d;
			transform: perspective(1000px);

			height: 100%;
			width: 100%;

			svg {
				width: 120%;
				position: absolute;
				top:50%;
				left:50%;
				transform: translate(-50%, -50%,);
				max-height: 100%;

				@include mq(tabletl) {
					width: 100%;
				}

				.st0{fill:#0F24FB;}
				.st1{clip-path:url(#macbookClip_00000150812913889582524680000018019707670889219261_);}
				.st2{fill:#FFFFFF;}
				.st3{fill:#231F20;}
				.st4{fill:#BBBDBF;}
				.st5{fill:#D0D2D3;}
				.st6{fill:#E6E1DC;}
				.st7{fill:url(#SVGID_1_);}
				.st8{fill:url(#SVGID_00000163751089415665745320000012232425605386723200_);}

				&#computer {
					transform: translate3d(-50%, -50%, 60px);

					@include mq(laptop) {
						transform: translate3d(-50%, -50%, 100px);
					}

					g{ 
						animation: laptop 0.8s 1 cubic-bezier(0.510, 0.000, 0.470, 0.995);
					}
				}

				&#book {
					transform: translate3d(-50%, -50%, 120px);

					@include mq(laptop) {
						transform: translate3d(-50%, -50%, 200px);
					}

					g{
						animation: book 0.8s 1 cubic-bezier(0.510, 0.000, 0.470, 0.995), float 6s ease infinite 3s;
					}
				}

				&#blueBox {
					transform: translate(-50%, -50%);

					rect {
						fill:none;
						stroke: $accent-color;
						stroke-width:60;
						stroke-miterlimit:10;

						animation: blueBox 1.3s 1 ease;
					}
				}
			}

			@include keyframes (float) {
				0% { @include translate(0,0); }
				50% { @include translate(0,-30px);  }
				100% {  @include translate(0,0); }
			}

			@keyframes book {
				0% {
					transform: translateX(100px);
					opacity: 0;
				}
				
				100% {
					transform: translateX(0%);
					opacity: 1;
				}
			}

			@keyframes laptop {
				0% {
					transform: translateX(-100px);
					opacity: 0;
				}
				
				100% {
					transform: translateX(0%);
					opacity: 1;
				}
			}

			@keyframes blueBox {
				0% {
					stroke-width:0;
				}

				50% {
					stroke-width:0;
				}

				100% {
					stroke-width:60;
				}
			}

			@include keyframes (bounce) {
			  from, 5%, 13.25%, 20%, to {
			    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
			    -webkit-transform: translate3d(0, 0, 0);
			    transform: translate3d(0, 0, 0);
			  }

			  10%,
			  10.75% {
			    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
			    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
			    -webkit-transform: translate3d(0, -15px, 0);
			    transform: translate3d(0, -15px, 0);
			  }

			  17.5% {
			    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
			    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
			    -webkit-transform: translate3d(0, -7.5px, 0);
			    transform: translate3d(0, -7.5px, 0);
			  }

			  22.5% {
			    -webkit-transform: translate3d(0, -2px, 0);
			    transform: translate3d(0, -2px, 0);
			  }
			}
		}
	}

	.splash_text {
		grid-row-start: 3;
		align-self: end;

		@include wide_wrap;

		h1, h2 {text-align: center;}

		text-align: center;

		@include mq(phonel) {
			text-align: left;
			h1 span {text-align:left}
		}

		@include mq(tabletl) {
			top: 0;
			z-index: 2;
			grid-row-start: 2;
			grid-column-start: 1;
			grid-column-end: 3;

			align-self: end;

			text-align: left;
			margin-bottom: calc(89px - 5vmax);
		}

		@include mq(laptop) {
			margin-bottom: 0;
		}

		h1#title {
		    width: 100%;
		    max-width: 700px;
		    position: relative;
		    margin: 0 auto;

			font-size: 11vw;
			font-weight: 700;
			line-height: 0.8;
			color: $text-light-color;

			text-align: center;
			text-transform: uppercase;
			transition: all 0.5s ease;

			@include mq(tabletp) {
				font-size: 80px;
			}

			@include mq(tabletl) {
				text-align: left;
				margin: 0;
				font-size: 80px;
				max-width: 500px;
			}

			@include mq(laptop) {
				font-size: 100px;
			}

			@include mq(desktop) {
				font-size: 135px;
			}

			span {
				display: inline-block;
			}

			span.design {
				display: block;
			}
		}

		a.button {
			border-radius: 35px;

			margin-bottom: 45px;
			margin-top: 25px;

			@include mq(tabletp) {
				margin-top: 35px;
			}
		}
	}

	svg#arrow {
		width: 20px;
	    position: fixed;
	    margin-left: auto;
	    margin-right: auto;
	    left: 0;
	    right: 0;
	    bottom: 10px;

	    -webkit-transition: opacity 0.3s ease;
	    transition: opacity 0.3s ease;
	    -webkit-animation: bounce 4s infinite 1s;
	    animation: bounce 4s infinite 1s;

	    display: none;

	    @include mq(tabletl) {
	    	display: block;
	    }

	    .arrow {
	    	stroke: $accent-color;
	    	stroke-width:100;
	    	stroke-miterlimit:10;
	    	fill: none;
	    }

	    html:not([data-scroll='0']) & {opacity: 0;}
	}
}

.manifesto2 {
	padding: 20px 0 90px;

	@include mq(tabletl) {
		display: flex;
		align-items: center;
		height: 100vh;
		position :absolute;
		padding: 0;
		top: 0;
	}

	@include mq(tabletp) {
		padding: 40px 0 180px;
	}

	.card {
		text-align: center;
		width: 100%;
		overflow: hidden;

		@include mq(tabletl) {
			margin-top: 10vh;
			margin-bottom: 0;
			border: none;
			position: relative;
			top: -50px;
		}

		.image_wrap {
			overflow: hidden;
			width: 160px;
			height: 160px;
			border-radius: 50%;
			margin: 0 auto;
			position: relative;

			img {
				position: absolute;
				top: -10%;
				left: -10%;
				width: 120%;
				max-width: none;
			}
		}

		h2 {
			margin-top: 20px;
			
			font-size: 65px;
			text-transform: uppercase;
			line-height: 0.9;
			letter-spacing: 3px;

			@include mq(tabletp) {
				font-size: 80px;
			}

			@include mq(tabletl) {
				margin-top: 40px;
				font-size: 140px;
			}

			span {
				display: block;
			}

			span.wheeler {
				color: white;
				font-weight: 800;
				text-shadow:
				-1px -1px 0 black,
				1px -1px 0 black,
				-1px 1px 0 black,
				1px 1px 0 black;
			}
		}

		p {
			font-weight: 400;
			line-height: 1.2;
			max-width: none;

			color: blue;
			font-size: 21px;

			@include mq(tabletp) {
				font-size: 20px;
			}

			@include mq(tabletl) {
				font-size: 25px;
				color: black;
			}
		}

		.button {
			margin-top: 20px;
		}
	}
}

.splash_featured {
	background: black;
	padding-bottom: 50px;

	@include mq(tabletp) {
		padding-bottom: 100px;
	}

	@include mq(tabletl) {
		margin-top: 40vh;
	}

	@include mq(laptop) {
		.case_studies {display: none;}
	}

	.hover_gallery {
		display: none;
		position: relative;

		@include mq(laptop) {
			display: flex;
		}
		
		justify-content: space-between;
		align-items: flex-start;

		ul.titles {
			width: 40%;

			li {
				list-style: none;
				a {
					font-size: 35px;
					font-weight: 600;
					color: white;

					@include mq(desktop) {
						font-size: 45px;
					}
				}
			}

			&:hover {
				.hover_gallery_title a{
					color: grey;
				}

				.hover_gallery_title:hover a{
					color: white;
				}
			}
		}

		div.featured_images {
			max-width: 60%;
			height: 100%;

			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;

			border-radius: 10px;
			overflow: hidden;

				a.project_image {
					opacity: 0;
					margin-top: 0;

					grid-column-start: 1;
					grid-column-end: 2;
					grid-row-start: 1;
					grid-row-end: 2;

					&.active {
						opacity: 1;
					}
				}
		}

		div.project_info {
			position: absolute;
			bottom: 0;

			opacity: 0;
			transition: all 0.25s ease;
		}

		ul.titles:hover ~ div.project_info.active { opacity: 1 }
	}

	h2 {
		margin-bottom: 20px;

		text-transform: uppercase;
		font-weight: 800;
		font-size: 17vw;
		color: white;

		padding: 70px 0 60px 0;

		text-align: center;

		@include mq(tabletp) {
			padding: 110px 0 90px 0;
			font-size: 90px;

			text-align: center;
		}

		@include mq(tabletl) {
			padding: 120px 0 110px 0;
			font-size: 140px;
		}

		span {
			display: block;
		}
	}

	.button#see-more-projects {
		display: block;
		margin: 50px auto 30px;

		@include mq(tabletl) {
			margin-top: 100px;
		}
	}
}

#index .skillset {
	@include mq(tabletl) {
		padding: 100px 0
	}
}

.columns {
	margin: 0 auto;

	@include mq(tabletp) {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	@include mq(tabletl) {
		flex-wrap: nowrap;
	}

	.category {
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;

		@include mq(tabletp) {
			margin-top: 40px;
			margin-bottom: 40px;
			text-align: center;
			width: 30%;
		}

		h3 {
			text-transform: uppercase;
			letter-spacing: 6px;
			font-weight: 600;

			font-size: 20px;
		}

		ul {
			margin-top: 10px;
			list-style: none;

			font-family: $secondary-font;
		}
	}
}

.client_showcase {
	
	padding: 100px 0;
	background: $accent-color;
	margin: 0 auto;

	.clients {

		position: relative;
	  	display: flex;
	  	flex-wrap: wrap;
	  	justify-content: space-around;
	  	max-width: 1100px;

	  	margin: 0 auto;
	  	margin-top: 20px;
	  	height: auto;

	  	@include mq(tabletl) {
	  		margin-top: 30px;
	  		justify-content: center;
	  	}

		.individual_logo {
			max-height: 83px;
			max-width: 155px;
			padding: 10px 15px;

			@include mq(tabletl) {
				max-height: 110px;
				padding: 20px 30px;
				max-width: 215px;
				margin-bottom: 0;
				&.wide {max-width: 300px;}
			}
		}
	}
}

