

//	Manifesto Section	//

.manifesto {

	height: 100vh;

	padding-top: 12vw;
	@include mq(tabletp) {
		padding-top: 15vh;
	}

	@include mq(laptop) {
		padding-top: 25vh;
	}

	background-color: #f4e6db;
	background-repeat: no-repeat;

	background-image: url("../images/manifesto/laptop.png"), url("../images/manifesto/sketchbook.png");
	background-image: url("../images/manifesto/laptop.webp"), url("../images/manifesto/sketchbook.webp");

	background-size: calc(270px + (20vw - 50px)), calc(200px + (20vw - 50px));
	background-position: -100px calc(70vh - 10vw), calc(70vw - 50px) calc(80vh - 10vw);

	@include mq(tabletp) {
		background-size: 500px, 400px;
		background-position: -100px calc(100vh - 350px), calc(100vw - 350px) calc(100vh - 300px);
	}
	
	@include mq(laptop) {
		background-size: 40%, 30%;
		background-position: -200px 30vh, calc(100vw - 30%) 60vh;
	}

	// Typography //

	text-align: center;

	color: black;

	h2 {
		text-transform: uppercase;;
		line-height: 0.7em;
		
		font-size: $h1-small;
		letter-spacing: $h1-spacing;

		@include mq(tabletp) {
			font-size: $h1-medium;
		}

		@include mq(laptop) {
			font-size: $h1-large;
		}
		
		margin-bottom: 0.3em;

		.lead_up {
			text-transform: uppercase;
			letter-spacing: 3px;
			display: block;
			font-size: 0.35em;

			font-weight: 400;
		}
	}

	p {
		max-width: 500px;
		margin: 0 auto;
		margin-bottom: 0.5em;

		text-align: center;
	}

	.button {
		margin-top: 1.5em;
	}

}


