


//  Services Section  //

.services {

	h2 {
		text-align: center;

		font-size: $h1-small;
		font-weight: $h1-weight;
		line-height: $h1-lineheight;
		letter-spacing: $h1-spacing;

		@include mq(tabletp) {
			font-size: $h1-medium;
		}

		@include mq(laptop) {
			font-size: $h1-large;
		}

	}

	.icons {

		@include mq(tabletp) {
			display: flex;
			justify-content: center;
		}

		h1 {
			text-align: center;
		}


		div {
			max-width: 300px;
			margin: 0 auto;
			margin-top: 40px;

			@include mq(tabletp) {
				margin: 40px 40px;
			}

			@include mq(tabletl) {
				margin: 60px 120px;
			}


			h3 {
				letter-spacing: 0px;
				font-weight: 400;
				text-align: center;


				margin-top: 19px;
			}

			img {
				height: 100px;
				display: block;
				margin: 0 auto;
			}

			p {
				margin-top: 3px;
				text-align: center;
			}
		}
	}
}