<div class="contact-form">

	<form action="{{ site.data.settings.contact_settings.form_action_fr }}" id="contact-form" method="POST" target="_blank">

		<div class="contact-form__item name" >
			<label class="contact-form__label">
				<input type="text" name="First Name" placeholder="Prénom" class="contact-form__input">
			</label>

			<label class="contact-form__label">
				<input type="text" name="Last Name" placeholder="Nom" class="contact-form__input">
			</label>
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">
				<input type="text" name="subject" placeholder="Sujet" class="contact-form__input">
			</label>
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">
				<input type="text" name="email" placeholder="Courriel" class="contact-form__input">
			</label>
		</div>

		<div class="contact-form__item">
			<label class="contact-form__label">
				<textarea name="message" placeholder="Message" class="contact-form__textarea"></textarea>
			</label>
		</div>

		<div style="position: absolute; left: -5000px;">
			<input type="checkbox" name="conservative_emerald_matte_ladybug" value="1" tabindex="-1" autocomplete="no">
		</div>

		<div class="contact-form__item">
			<input type="submit" value="Soumettre" class="button button--large">
		</div>

	</form>

</div>