<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#ff0000">
<meta name="theme-color" content="#ffffff">

<title>
	{% if page.ref == "index" %}
		{{ site.data.settings.basic_settings.site_title }}
	{% else %}
		{{  page.title }} – {{ site.data.settings.basic_settings.site_title }}
	{% endif %}
</title>
<meta name="description" content="{{ page.description }}">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}">
<meta name="twitter:description" content="{{ page.description }}">
<meta name="twitter:image:src" content="{{ site.url }}{{ page.featured_image }}">

<meta property="og:title" content="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} {% else %}{{ page.title }}{% endif %}" />
<meta property="og:site_name" content="{{ site.data.settings.basic_settings.site_title }}"/>
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:image" content="{{ site.url }}{{ page.featured_image }}" />
<meta property="og:url" content="{{ page.url }}">
<meta property="og:type" content="{% if page.type %}{{ page.type }}{% else %}portfolio{% endif %}"/>


<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/un.main.css">
<link rel="preload" href="{{ site.baseurl }}/images/logo-black-wipe.gif" as="image">

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-97001089-1"></script>

<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

 	gtag('config', 'UA-97001089-1');
</script>