<div class="portfolio">
	
	{% for project in projects %}
	
	<div class="project" data-aos="fade-up" data-aos-offset="100"> 
		<a href="{{ post.url }}">
			<a class="project_image {{ project.ref }}" href="{{ project.url }}">
				<img src="/images/lazy/lazy-work.svg" data-src="{{ project.featured_image }}" class="lazy front" alt="{{ project.title }} front">
			</a>

			{% if project.category == "case study" %}

			<div class="project_info">
				<div class="project_info_block">
					<div class="project_info_title">client</div>
					<div class="project_info_value">{{ project.title }}</div>
				</div>

				<div class="project_info_block">
					<div class="project_info_title">service</div>
					<div class="project_info_value">{{ project.subtitle }}</div>
				</div>
			</div>

			{% else %}

			<div class="project_info">
				<div class="project_info_block">
					<div class="project_info_title">collection</div>
					<div class="project_info_value">{{ project.title }}</div>
				</div>

				<div class="project_info_block">
					<div class="project_info_title">service</div>
					<div class="project_info_value">{{ project.subtitle }}</div>
				</div>
			</div>

			{% endif %}
		</a>
	</div>

	{% endfor %}
</div>