<section class="portfolio">
	{% for project in projects %}

	<div class="portfolio-item animate once {{ project.ref }}">

		<a class="featured-image {{ project.ref }}" href="{{ project.url }}">
		<img src="/images/lazy/lazy-work.svg" data-src="{{ project.featured_image }}" class="lazy front" alt="{{ project.title }} front">
		</a>

		<div class="info">
			<p class="type">{{ project.subtitle }}</p>
			<h2 class="title">{{ project.title }}</h2>
			<p class="description">{{ project.description }}</p>
			<a href="{{ project.url }}" class="button black">details</a>
		</div>	

	</div>	

	{% endfor %}
</section>