{% capture the_collection %}{{page.collection}}{% endcapture %}
  {% if page.collection %}
    {% assign  document = site[the_collection]  %}
  {% endif %}


{% for links in document  %}
  {% if links.title == page.title %}
    {% unless forloop.first %}
      {% assign prevurl = prev.url %}
    {% endunless %}
    {% unless forloop.last %}
      {% assign next = document[forloop.index] %}
      {% assign nexturl = next.url %}
    {% endunless %}
  {% endif %}
  {% assign prev = links %}
{% endfor %}


<div class="previous_next">
  <div class="narrow_wrap">
  	{% if prevurl %}<a href="{{prevurl}}" class="previous">{% if page.lang == 'fr' %} < {% else %}Previous{% endif %}</a>{% endif %}

  	{% if nexturl %}<a href="{{nexturl}}" class="next">{% if page.lang == 'fr' %} > {% else %}Next{% endif %}</a>{% else %} {% endif %}
  </div>
</div>