html {
	position: relative;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

body {
	background: $background-color;
	font-family: $body-font;
	font-weight: $regular-weight;
	font-style: normal;
	line-height: 1;
	color: $text-medium-color;
	max-width: 100vw;
	overflow: hidden;

	position: relative;
	padding-bottom: 150px;
	min-height: 100vh;
}

//----------------------//
//		Typography		//
//----------------------//

// h1
$h1-small: 45px;
$h1-medium: 58px;
$h1-large: 80px;

$h1-weight: 700;
$h1-lineheight: 0.9;

// h2
$h2-small: 45px;
$h2-medium: 58px;
$h2-large: 80px;

$h2-weight: 500;
$h2-lineheight: 1;

//h3
$h3-small: 35px;
$h3-medium: 40px;
$h3-large: 50px;

$h3-weight: 500;
$h3-lineheight: 0.8;

// p
$p-small: 14px;
$p-medium: 16px;
$p-large: 16px;

$p-weight: 300;
$p-spacing: 0em;
$p-lineheight: 1.6;
$p-maxwidth: 1000px;

// button
$button-weight: 400;
$button-spacing: 0;

.align_center, .center {
	text-align: center; 
}

.white, .white * {
	color: white;
}

.black {
	color: $text-dark-color;
}

.accent-color {
	color: $accent-color;
}

.fancy {
	position: relative;
	margin-top: 1em;

	&::before {
		content: attr(data-pretext);
		position: absolute;
		left: 0;
		right: 0;
		top: -14px;
		font-size: 11px;
		font-family: $secondary-font;
		text-transform: lowercase;
		text-align: center;
		letter-spacing: 5px;
		color: $accent-color;

		@include mq(tabletp) {
			top: -20px;
		}
	}
}

body * {
	&::-moz-selection {
		color: white;
		background: 1620e4;
	}

	&::selection { 
		color: white;
		background: #1620e4;
	}

	.blue {
		&::-moz-selection {
			color: white;
			background: #7ea4e8;
		}

		&::selection { 
			color: white;
			background: #7ea4e8;
		}
	}
}

.italic {
	font-style: italic;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $title-font;
	color: $text-dark-color;

	letter-spacing: $header-letter-spacing;

	transition: font-size 0.3s ease;

	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
	font-size: $h1-small;
	font-weight: $h1-weight;
	line-height: $h1-lineheight;

	text-align: center;

	@include mq(tabletp) {
		font-size: $h1-medium;
		text-align: left;
	}

	@include mq(laptop) {
		font-size: $h1-large;
	}
}

h2, .h2 {
	margin-top: 0.8em;
	font-size: $h2-small;
	font-weight: $h2-weight;
	line-height: $h2-lineheight;

	@include mq(tabletp) {
		font-size: $h2-medium;
	}

	@include mq(laptop) {
		font-size: $h2-large;
	}
}

h3, .h3 {
	margin-top: 0.8em;
	font-size: $h3-small;
	font-weight: $h3-weight;
	line-height: $h3-lineheight;

	@include mq(tabletp) {
		margin-top: 1em;
		font-size: $h3-medium;
	}

	@include mq(laptop) {
		font-size: $h3-large;
	}
}

h4, .h4 {
	margin-top: 25px;
	font-size: $h4-small;
	font-weight: $h4-weight;
	line-height: $h4-lineheight;

	@include mq(tabletp) {
		font-size: $h4-medium;
	}

	@include mq(laptop) {
		font-size: $h4-large;
	}
}

h5, .h5 {
	margin-top: 15px;
	font-size: $h5-small;
	font-weight: $h5-weight;

	@include mq(tabletp) {
		font-size: $h5-medium;
	}

	@include mq(laptop) {
		font-size: $h5-large;
	}
}

h6, .h6 {
	margin-top: 15px;
	font-size: $h6-small;
	font-weight: $h6-weight;
	line-height: $h6-lineheight;

	@include mq(tabletp) {
		font-size: $h6-medium;
	}

	@include mq(laptop) {
		font-size: $h6-large;
	}
}



p, ul, ol, a {
	margin-top: 15px;
	font-size: $p-small;
	font-weight: $p-weight;
	letter-spacing: $p-spacing;

	@include mq(phonel) {
		font-size: $p-medium;
	}

	@include mq(laptop) {
		font-size: $p-large;
	}

	strong {
		font-weight: $bold-weight;
	}

	&:first-child {
		margin-top: 0;
	}
}

p, ul, ol {
	max-width: $p-maxwidth;
	line-height: $p-lineheight;
}

ul, ol {
	list-style-position: inside;
}

blockquote {
	margin-top: 15px;
	border-left: 2px solid $text-dark-color;
	padding: 10px 0 10px 20px;
	font-size: $blockquote-small;
	font-weight: $blockquote-weight;
	letter-spacing: $blockquote-spacing;
	line-height: $blockquote-lineheight;

	@include mq(tabletl) {
		border-left-width: 3px;
		padding: 15px 0 15px 30px;
		font-size: $blockquote-medium;
	}

	@include mq(laptop) {
		border-left-width: 4px;
		padding: 20px 0 20px 40px;
		font-size: $blockquote-large;
	}

	p {
		font-size: $blockquote-small;
		font-weight: $blockquote-weight;
		letter-spacing: $blockquote-spacing;
		line-height: $blockquote-lineheight;

		@include mq(tabletl) {
			font-size: $blockquote-medium;
		}

		@include mq(laptop) {
			font-size: $blockquote-large;
		}
	}
}

a {
	text-decoration: none;
	color: $text-dark-color;
	font-weight: $bold-weight;
	@include transition(all 0.15s ease-in-out);

	&:hover {
		color: $accent-color;
	}
}

.button, a.button {
	display: inline-block;
	padding: 14px 20px 15px;
	margin-top: 10px;
	min-width: 110px;
	
	border: 2px solid $accent-color;
	border-radius: 35px;

	background: none;
	cursor: pointer;
	
	text-align: center;
	font-weight: $button-weight;
	line-height: 1;
	color: $accent-color;
	letter-spacing: $button-spacing;

	font-size: $p-small;
	@include mq(tabletp) { font-size: 17px }

	&:hover {
		background: adjust-hue($accent-color,15%);
		border-color: adjust-hue($accent-color,15%);
		color: $background-color;
	}

	@include transition(all 0.2s ease);

	&.white {
		border-color: white;
		color: white;

		&:hover {
			background: white;
			color: black;
			border-color: white;
		}
	}

	&.black {
		border-color: black;
		color: black;

		&:hover {
			background: black;
			color: white;
			border-color: black;
		}
	}

	@include mq(tabletp) {
		padding: 11px 20px 12px;
		font-size: $p-medium;
	}

	svg {
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
			margin-left: 5px;
		}

		@include mq(tabletp) {
			margin-right: 8px;

			&:last-child {
				margin-right: 0;
				margin-left: 8px;
			}
		}
	}

	&.wide {
		width: 100%;
		max-width: 400px;
		margin: 0 auto;

		@include mq(tabletp) {
			width: auto;
			margin: 0;
			padding-left: 60px;
			padding-right: 60px;
		}
	}

	&.large {
		@include mq(phonep) {
			padding-top: 15px;
			padding-bottom: 16px;
		}
	}
}

p a:not(.button) {
	border-bottom: 2px solid $accent-color;
}

hr {
	margin: 40px 0;
	border: 0;
	height: 2px;
	background: #f0f0f0;
}

::selection 	 { background: $accent-color; color: $background-color; }
::-moz-selection { background: $accent-color; color: $background-color; }



// Page loading

.page-loader {
	display: none;
}

.page {
	animation: content-in 0.6s ease;

	@include transition(all 0.6s ease);
}

@keyframes content-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body.menu_open .page{
	opacity: 0;
	animation: none;
	transform: scale(0.95);
}

body {
	@include transition(background 0.8s ease);
}

body.loading {

	.loader {
		opacity: 1;
		visibility: visible;
		@include transition(all 0.4s ease-in-out 1s);
	}

	.page {
		visibility: hidden;
		opacity: 0;
		@include transition(all 0.6s ease, visibility 0s 0.8s);
		animation: none;
	}

	.footer {
		opacity: 0;
		visibility: hidden;
		@include transition(all 0.4s ease-in-out);
	}
}

.loader {
	position: fixed;
	top: 50%;
	left: 50%;
	@include translate(-50%,-50%);
	width: 60px;
	height: 15px;

	opacity: 0;
	visibility: hidden;
	@include transition(all 0.2s ease-in-out);

	svg {
		width: 100%;
		height: 100%;
		fill: rgba($text-dark-color,0.2);
	}

	.loading_logo {
		opacity: 0.25;
	}
}

.page_content {
	clear: both;
	width: 100%;

	padding-bottom: 50px
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Page sections

// section, div.section {
// 	padding-top: 20px;

// 	@include mq(tabletp) {
// 		padding-top: 20px;
// 	}

// 	@include mq(tabletl) {
// 		padding-top: 30px;
// 	}

// 	@include mq(laptop) {
// 		padding-top: 50px;
// 	}
// }

.wrap {
	position: relative;
	margin: 0 auto;
	
	@include wide_wrap;
}

.narrow_wrap {
	position: relative;
	margin: 0 auto;
	
	@include narrow_wrap;
}