

@include keyframes(invisible) {
  0% { opacity: 0; }
  100% { opacity: 0; }
}

@include keyframes(visible) {
  0% { opacity: 1; }
  100% { opacity: 1; }
}

h1:first-child.about_me {
	margin-top: 0.5em;
}

#leafy {
	max-width: 170px;

	margin: 0 auto;
	margin-top: -70px;

	@include mq(tabletp) {
		max-width: 350px;

		margin: 0;
	}
}



