

//                                            //
// - - - - - - - - - Mixins - - - - - - - - - //
//                                            //

@mixin wide_wrap{
  margin-left: auto; margin-right: auto;
  padding-left: 30px; padding-right: 30px;
  width: 100%;
  max-width: none;

  @include mq(tabletp) {
    width: 90%;
    padding-right: 0; padding-left: 0;
  }

  @include mq(tabletl) {
    width: 90%;
  }

  @include mq(laptop) {
    width: 80%;
  }
}

@mixin narrow_wrap{
  margin-left: auto; margin-right: auto;
  padding-left: 30px; padding-right: 30px;
  width: 100%;
  max-width: 1300px;

  @include mq(tabletp) {
    width: 90%;
    padding-right: 0; padding-left: 0;
  }

  @include mq(tabletl) {
    width: 80%;
  }

  @include mq(laptop) {
    width: 70%;
  }
}


// - - - Responsive - - - //
// Usage: @include mq(tabletp) {}

@mixin mq($media) {
  @if $media == phone {
    @media only screen and (max-width: $break-phonel) { @content; }
  }
	@if $media == phonel {
		@media only screen and (min-width: $break-phonel) { @content; }
	}
	@else if $media == tabletp {
		@media only screen and (min-width: $break-tabletp) { @content; }
	}
	@else if $media == tabletl {
		@media only screen and (min-width: $break-tabletl) { @content; }
	}
	@else if $media == laptop {
		@media only screen and (min-width: $break-laptop) { @content; }
	}
	@else if $media == desktop {
		@media only screen and (min-width: $break-desktop) { @content; }
	}
  @else if $media == landscape {
    @media only screen and (orientation: landscape) { @content; }
  }
  @else if $media == portrait {
    @media only screen and (orientation: portrait) { @content; }
  }
}


// - - - Transform - - - ///
// Usage: @include transition(color .3s ease);

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


// - - - Animations - - - //
/*
 Usage:
  @include keyframes(slide-down) {
    0% { opacity: 1; }
    90% { opacity: 0; }
  }
  .element {
    @include animation('slide-down 5s 3');
  }
*/

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}


// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Transforms
// Usage:
// @include skew(25,10);
// @include transform-origin(top left);

@mixin transform($transforms) {
     -moz-transform: $transforms;
       -o-transform: $transforms;
      -ms-transform: $transforms;
  -webkit-transform: $transforms;
          transform: $transforms;
}

@mixin rotate ($deg) {
  @include transform(rotate(#{$deg}deg));
}
@mixin scale($scale) {
  @include transform(scale($scale));
} 
@mixin translate ($x, $y) {
  @include transform(translate($x, $y));
}
@mixin skew ($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}
@mixin transform-origin ($origin) {
    moz-transform-origin: $origin;
       -o-transform-origin: $origin;
      -ms-transform-origin: $origin;
      -webkit-transform-origin: $origin;
      transform-origin: $origin;
}



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Styles

@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}


@mixin blue{
  background: rgb(94,71,204);
  background: linear-gradient(23deg, rgba(94,71,204,1) 0%, rgba(38,219,255,1) 100%);
  background-size: 200% 200%;

  background-clip: text;
  -webkit-background-clip: text;

  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;

  @include animation('gradient-wash 3s ease infinite;');
}

@mixin blue-background {
  background: rgb(94,71,204);
  background: linear-gradient(23deg, rgba(94,71,204,1) 0%, rgba(38,219,255,1) 100%);
  background-size: 200%;
  background-position: 0% 50%;
  background-attachment: fixed;
  @include animation('gradient-wash-noise 6s ease infinite;');

  @supports (background-blend-mode: overlay) {
    background: url("../images/noise.png"), linear-gradient(23deg, rgba(94,71,204,1) 0%, rgba(38,219,255,1) 100%);
    background-size: auto, 200% 200%;
    background-position: 0 0, 0% 50%;
    background-repeat: repeat, no-repeat;
    background-blend-mode: overlay, normal;
    background-attachment: fixed, fixed;
    @include animation('gradient-wash-noise 6s ease infinite;');
  }
}

@mixin no-blue{
  background: none;
  background-clip: initial;
  -webkit-background-clip: initial;

  text-fill-color: initial;
  -webkit-text-fill-color: initial;
}