---
layout: default
title: Blog
description: Alex Wheeler Design Blog. New client work, personal projects, case studies and more! Experiment and inspire.
type: blog

pagination: 
  enabled: true
---

<section class="intro blog-header">
	<h1 id="aw_blog">AW BLOG</h1>
	<h2 class="blue">Experiment & Inspire</h2>
</section>

{% include blog-categories.html %}

<section class="single">

	<div class="wrap blog-posts">
				
			{% for post in paginator.posts %}

			<div class="post">

				<a href="{{ post.url }}">

					<div>
						<img src="/images/lazy/lazy-load-post.svg" data-src="{{ post.featured_image  }}" class="lazy" alt="{{ post.title }}">
						<p class="categories" data-aos="fade-left" data-aos-once="true"><a href="/blog/{{ post.categories }}">{{ post.categories }}</a></p>
					</div>

					<h2>{{ post.title }}</h2>
					<p class="description">{{ post.description }}</p>

				</a>

			</div>

			{% endfor %}

	{% if paginator.total_pages > 1 %}

	<section class="pagination">

		<div class="wrap">

			{% if paginator.previous_page %}
			<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button button--light pagination__prev"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
			{% endif %}
			{% if paginator.next_page %}
			<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button button--light pagination__next"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
			{% endif %}

		</div>

	</section>

	{% endif %}

	</div>

</section>