


// - - - AWBLOG - - - //

.blog-header {

	h1 {
		text-align: center;
	}

	h2 {
		font-family: $body-font;

		text-transform: uppercase;
		font-weight: 300;
		font-size: 0.9em;
		letter-spacing: 3px;
		text-align: center;
		margin-top: 0.2em;

		@include mq(tabletp) {
			font-size: 1.1em;
			letter-spacing: 5px;
		}	
	}	
}


// Catagories

.post_catagories {

	padding-top: $menu-padding-small;
	padding-bottom: $menu-padding-small;

	@include mq(tabletp) {
		padding-top: $menu-padding-large;
		padding-bottom: $menu-padding-large;
	}

	position: -webkit-sticky;
  	position: sticky;
  	top: 0;
  	z-index: 2;

  	background: white;

	ul {

		border-top: 1px solid black;
		border-bottom: 1px solid black;

		padding: 7px 0 7px 0;
		

		text-align: center;

		&, & * { @include transition(all .2s ease); }

		li {
			list-style-type: none;
			display: inline-block;

			padding: 0 1em 0 1em;

			a {
				font-weight: 200;

				@mixin mq($media) {
					color: rgba(0,0,0,0.5);
				}
			}
		}
	}

	ul li a {
		color: rgba(0,0,0,0.35);

		&.active-link {
			color: black;
		}
	}

	ul:hover {

		li:hover a{
			color: black;
		}
	}
}

// - - - Blog - - - ///

.blog-posts {
	max-width: 1000px;

	text-align: center;

	.post {
		margin-bottom: 2em;
		
		div {
			position: relative;

			.categories {
				display: none;

				@include mq(tabletp) {
					display: block;

					border: 1px solid rgba(0,0,0,0.1);

					position: absolute;
					right: -5px;
					bottom: 20px;
					padding: 5px 15px;
					background: white;
				}

				@include mq (tabletl) {
					right: -15px;
				}
			}
		}
	}

	h2, h3 {
		margin-top: 15px;
	}

	.categories {
		font-size: $grid-item-subtitle-small;
		font-weight: $grid-item-subtitle-weight;
		letter-spacing: 1px;

		text-transform: lowercase;
		color: $text-medium-color;

		margin-top: 5px;

		@include mq(tabletp) {
			font-size: $grid-item-subtitle-medium;
		}

		@include mq(laptop) {
			font-size: $grid-item-subtitle-large;
		}
	}

	.description {
		margin-top: 5px;

		font-style: italic;
		color: $text-medium-color;
	}

}

// - - - Related Posts - - - //

.related_posts {

	h2 {
		font-style: italic;
		font-weight: 400;
		text-align: center;

		padding: 0.2em 0;

		border-top: 1px solid black;
		border-bottom: 1px solid black;

		margin: 30px 0;

		@include mq(desktop) {
			margin-top: 0;
		}
	}

	.posts {
		@include mq(tabletp){
			display: flex;
			justify-content: center;
		}

		@include mq(desktop) {
			display: block;
		}
	}

	article {
		margin-left: auto; margin-right: auto;
		margin-bottom: 24px;
		text-align: center;

		width: 100%;
		max-width: 380px;

		@include mq(tabletp){
			margin-left: 30px; margin-right: 30px;
		}

		@include mq(desktop) {
			margin-left: 0; margin-right: 0;
		}

		h3 {
			margin-top: 5px;
		}

		p {
			margin-top: 0;
			color: black;
			font-size: $p-small;
		}
	}
}





