// - - - - - - - - - - - - - - - - - -

// Single page/post/project

// - - - - - - - - - - - - - - - - - -

.intro {

	padding-top: 10vh;
	
	h1 {

		@include mq(tabletp) {
			white-space: pre-line;
		}
		color: black;
	}

	&.blog {
		h1 {
			font-size: 5em;
		}
	}
}

.blue{
	@include blue;
}

.blue-background {
	background: rgb(94,71,204);
  	background: url("../images/noise.png"), linear-gradient(23deg, rgba(94,71,204,1) 0%, rgba(38,219,255,1) 100%);
 	background-size: auto, 200% 200%;
 	background-repeat: repeat, no-repeat;
 	background-blend-mode: overlay, normal;

 	@include animation('gradient_wash_backgound 10s ease infinite;');
}

@include keyframes(gradient_wash) {
	0% {background-position: 0% 50%}
	50% {background-position: 100% 50%}
	100% {background-position: 0% 50%}
}

@include keyframes(gradient_wash_backgound) {
	0% {background-position: 0 0, 0% 50%}
	50% {background-position: 0 0, 100% 50%}
	100% {background-position: 0 0, 0% 50%}
}

.double {
	margin-top: 10px;

	@include narrow_wrap;

	@include mq(desktop) {
		@include wide_wrap;

		display: flex;
		justify-content: space-between;

		.sidebar {
			padding-top: 0;
		}

		.sidebar > *{
			position: -webkit-sticky;
  			position: sticky;
  			
		    top: 10%;
		    width: 300px;
		}
	}
}

.intro {
	@include narrow_wrap;

	&.post {
		@include mq(desktop) {
			@include wide_wrap;
		}
	}
}

.single, .double {

	&>h1, &>h2, &>h3, &>h4, &>h5, &>h6, &>ul, &>ol, &>a {
		@include narrow_wrap;
	}

	&>p, &>.previous_next {
		@include narrow_wrap;
	}

	hr {
		margin: 30px auto;
		width: calc(100vw - 60px);
		max-width: 440px;

		@include mq(tabletp) {
			margin-top: 40px;
			margin-bottom: 40px;
			margin-left: auto;
			margin-right: auto;
			width: auto;
			max-width: 70%;
		}

		@include mq(tabletl) {
			max-width: 65%;
		}

		@include mq(laptop) {
			max-width: 60%;
		}
	}

	blockquote,
	figure {
		max-width: 90%;
		margin: 20px auto;

		@include mq(tabletp) {
			margin: 30px auto;
		}

		@include mq(laptop) {
			margin: 40px auto;
		}
	}

	blockquote p {
		max-width: 100%;
		padding: 0;
	}

	p a:not(.button) {
		font-weight: $bold-weight;
		border-bottom: 2px solid $accent-color;
	}

	p .button {
		margin-top: 10px;
	}

	.highlighter-rouge,
	table {
		margin: 20px auto;
		width: 100%;
		max-width: 90%;

		@include mq(tabletp) {
			margin: 30px auto;
			max-width: 70%;
		}

		@include mq(tabletl) {
			max-width: 65%;
		}

		@include mq(laptop) {
			margin: 40px auto;
			max-width: 60%;
		}
	}

	.highlight {
		display: block;
		padding: 0;
		line-height: 1.5;
		font-size: $p-small*0.85;
		line-height: $p-lineheight;
		overflow: auto;

		@include mq(tabletp) {
			font-size: $p-medium*0.85;
		}

		@include mq(laptop) {
			font-size: $p-large*0.85;
		}

		.highlight {
			padding: 20px;

			@include mq(tabletp) {
				padding: 30px;
			}

			@include mq(laptop) {
				padding: 40px;
			}
		}
	}

	table {
		border: 2px solid $text-dark-color;

		thead {
			background: $text-dark-color;
			color: $background-color;
			text-align: left;
			font-weight: $bold-weight;

			th {
				font-weight: $bold-weight;
			}
		}

		th, td {
			padding: 10px;
			font-size: $p-small;
			font-weight: $p-weight;

			@include mq(tabletp) {
				padding: 15px;
				font-size: $p-medium;
			}

			@include mq(laptop) {
				padding: 20px;
				font-size: $p-large;
			}
		}
		
		tr {

			&:nth-child(2n) {
				background: $background-alt-color;
			}
		}
	}

	&>.image-wrap,
	&>.video-wrap {
		position: relative;
		margin-top: 10px;
		margin-bottom: 10px;

		@include narrow_wrap;

		@include mq(tabletp) {
			margin-top: 30px;
			margin-bottom: 30px;
		}

		@include mq(laptop) {
			margin-top: 40px;
			margin-bottom: 40px;
		}

		&:first-child {
			margin-top: 0;
		}
	}
}



.image-wrap img {
	margin: 0 auto;
}

.video {
	position: relative;
	width: 100%;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.previous_next {
	display: flex;
	justify-content: space-between;

	margin-top: 1em;
}

.flipbook {
	margin-top: 30px;
	width: 100%;
	height: 500px;
}