
.page_content#contact{
	.narrow_wrap {
		max-width: 550px;
	}
}

.page_content#contact .intro{
	p {max-width: none;}
}

.contact-form {
	margin: 20px auto;
	width: 100%;

	&:first-child {
		margin-top: 0;
	}
}

.contact-form__item {
	margin-top: 15px;

	@include mq(tabletp) {
		margin-top: 20px;
	}

	@include mq(laptop) {
		margin-top: 30px;
	}

	&:first-child {
		margin-top: 0;
	}

	.button {
		display: block;
		margin: 0 auto;
	}
}

.contact-form__item--error {

	.contact-form__input,
	.contact-form__textarea {
		border-color: $error-color;
	}
}

.contact-form__label {
	display: block;
	font-size: $p-small;
	font-weight: $bold-weight;
	color: $text-medium-color;

	@include mq(tabletp) {
		font-size: $p-medium;
	}

	@include mq(laptop) {
		font-size: $p-large;
	}
}

.contact-form__input,
.contact-form__textarea {
	width: 100%;
	margin-top: 8px;
	border: 2px solid $text-dark-color;

	border-radius: 2px;
	padding: 10px 12px;
	background: $background-color;
	font-size: $p-small;
	font-weight: 200;
	line-height: 1.4;
	color: $text-dark-color;

	@include transition(all 0.15s ease-in-out);

	@include mq(tabletp) {
		padding: 15px 18px;
		font-size: $p-medium;
	}

	@include mq(laptop) {
		font-size: $p-large;
	}

	&:focus {
		outline: none;
		border-color: $accent-color;
	}
}

::-webkit-input-placeholder {
	color: $text-medium-color;
}
::-moz-placeholder {
	color: $text-medium-color;
}
:-ms-input-placeholder {
	color: $text-medium-color
}
:-moz-placeholder {
	color: $text-medium-color;
}

.contact-form__textarea {
	min-height: 200px;
	resize: none;
}




