@font-face {
    font-family: Brandon Grotesque;
    src:
        url('../fonts/brandon_grotesque/brandon_blk.woff2') format('woff2'), 
        url('../fonts/brandon_grotesque/brandon_blk.woff') format('woff');
    font-weight: 600;
    font-display: swap;

}

@font-face {
    font-family: Brandon Grotesque;
    src:
        url('../fonts/brandon_grotesque/brandon_bld.woff2') format('woff2'), 
        url('../fonts/brandon_grotesque/brandon_bld.woff') format('woff');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: Brandon Grotesque;
    src:
        url('../fonts/brandon_grotesque/brandon_med.woff2') format('woff2'), 
        url('../fonts/brandon_grotesque/brandon_med.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Brandon Grotesque;
    src:
        url('../fonts/brandon_grotesque/brandon_reg.woff2') format('woff2'), 
        url('../fonts/brandon_grotesque/brandon_reg.woff') format('woff');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: Brandon Grotesque;
    src:
        url('../fonts/brandon_grotesque/brandon_light.woff2') format('woff2'), 
        url('../fonts/brandon_grotesque/brandon_light.woff') format('woff');
    font-weight: 200;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,600,900&display=swap');

@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:300,300i,400&display=swap');
