// - - - - - - - - - - - - - - - - - -

// Footer

// - - - - - - - - - - - - - - - - - -



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Footer

.footer {

	@include transition(all 0.4s ease-in-out 0.8s);
	padding: 20px 0;
	margin-top: 0;

	background: rgba(black, 0.02);
	color: black;
	text-align: center;

	@include mq(tabletp) {
		padding: 20px 0;
	}

	@include mq(tabletl) {
		padding: 40px 0;
	}

	@include mq(laptop) {
		padding: 50px 0;
	}

	p {
		max-width: none;
	}
}

.socials {
	margin-top: 5px;
}