// - - - - - - - - - - - - - - - - - -

// Footer

// - - - - - - - - - - - - - - - - - -



// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Footer

body  {

	min-height: calc(100vh - 60px);
	padding-bottom: 60px;

	@include mq(tabletl) {
		min-height: calc(100vh - 100px);
		padding-bottom: 100px;
	}

	@include mq(laptop) {
		min-height: calc(100vh - 150px);
		padding-bottom: 150px;
	}

}

.footer {
	@include transition(all 0.4s ease-in-out 0.8s);
	padding: 20px 0;
	margin-top: 60px;

	background: rgba(black, 0.02);
	color: black;
	text-align: center;

	@include mq(tabletp) {
		padding: 20px 0;
	}

	@include mq(tabletl) {
		padding: 40px 0;
	}

	@include mq(laptop) {
		padding: 50px 0;
	}

	position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.footer .socials {
	margin-top: 25px;
}