

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Socials

.socials {
	a {
		display: inline-block;
		margin: 0 10px;
	}
}

#instagram {
	color: #5B51D8;
}

#dribble {
	color:  #ea4c89;
}

#linkedin {
	color: #0077B5;
}