

// - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - Socials

.social_link {
	&#instagram {
		background-image: url("../images/social/instagram.svg");
		background-position: center;
		background-repeat: no-repeat;
		background-size: auto 70%;
		color: transparent;

		width: 20px;
	}
}