---
layout: default
---

<section class="intro blog-header">
	<h1>{% if page.autopages %}{{page.autopages.display_name}}{% endif %}</h1>
</section>

{% include blog-categories.html %}

<section>

	<div class="content-wrap blog-posts">
				
			{% for post in paginator.posts %}

			<div class="portfolio-item">

				<a class="portfolio-item__link" href="{{ post.url }}">

					<div class="portfolio-item__image">
						<img src="{{ post.featured_image  }}" alt="{{ post.title }}">
					</div>

					<div class="portfolio-item__content">
						<div class="portfolio-item__info">
							<h2 class="portfolio-item__title">{{ post.title }}</h2>
							<p class="portfolio-item__subtitle">{{ post.categories }}</p>
						</div>
					</div>

				</a>

			</div>

			{% endfor %}
	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button button--light pagination__prev"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button button--light pagination__next"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
		{% endif %}

	</div>

</section>

{% endif %}