---
layout: compress
---

<!doctype html>

<html class="no-js" lang="en">

<head>
	{% include head.html %}	
</head>

<body class="loading{% if site.data.settings.advanced_settings.ajax_loading == true %} ajax-loading{% endif %}" id="body" data-site-url="{{ site.url }}" data-page-url="{{ page.url | replace: 'index.html', '' }}" data-title="{{ page.title | downcase }}">

	{% include header.html %}

	<div class="loader">
		<img src="/images/loading-logo.gif" class="loading_logo">
	</div>

	<div class="page-loader"></div>
	
	<div class="page">

		<div class="page_content {{ layout.type }}" id="{{ page.ref }}" data-page-title="{% if page.url == "/" %}{{ site.data.settings.basic_settings.site_title }} – {{ page.title }}{% else %}{{ page.title }} – {{ site.data.settings.basic_settings.site_title }}{% endif %}">

			{{ content }}

		</div>

	</div>

	{% include footer.html %}

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@12.4.0/dist/lazyload.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>

	{% asset main.js %}
</body>

</html>