---
layout: default
sitemap: false
---

<section class="intro tag_page">
	<h1>{% if page.autopages %}{{ page.autopages.display_name | replace: "-", " " }}{% endif %}</h1>
</section>

<div class="narrow_wrap posts">
			
		{% assign posts=paginator.posts | sort: "date" %}

		{% for post in posts reversed %}

		<div class="post">

			<a href="{{ post.url }}">
				<img src="/images/lazy/lazy-load-post.svg" data-src="{{ post.featured_image  }}" class="lazy" alt="{{ post.title }}">

				<div class="blog_post_info">
					<h2 class="title">{{ post.title }}</h2>
					<p class="description">{{ post.description }}</p>
					
					<p class="tags">
						{% for tag in post.tags %}
							<a href="/tags/{{ tag }}" class="tag">{{ tag | replace: "-", " " }}</a>
						{% endfor %}
					</p>
					
					<p class="date">{{ post.date | date_to_string: "ordinal", "US" }}</p>
				</div>
			</a>
		</div>

		{% endfor %}

{% if paginator.total_pages > 1 %}

<section class="pagination">

	<div class="wrap">

		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button button--light pagination__prev"><i class="fa fa-angle-left" aria-hidden="true"></i> <span>Newer Posts</span></a>
		{% endif %}
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button button--light pagination__next"><span>Older Posts</span> <i class="fa fa-angle-right" aria-hidden="true"></i></a>
		{% endif %}

	</div>

</section>

{% endif %}

</div>